&nbsp;



 <div class="row">
  <div class="col-md-4">
    <div class ="card-boyd">
      <!-- <div class="card-header">

      </div> -->
    <div class ="card-body" *ngIf="products$ | async as products" >
    <div class="list-group">
    <button type="button" class="list-group-item" *ngFor="let product of products"
    (click)='onSelected(product.productId)'
    [ngClass]="{'active':product?.productId === (selectProduct$ |async)?.productId}">
    {{product.modelName}}
    </button>

    </div>
    </div>
    </div>
  </div>
<div class="col-md-8">
  <pl-product-detail></pl-product-detail>
</div>
</div>

