
<div class="card" *ngIf="vm$  | async as vm">
  <div *ngIf="pageTitle$ | async as pageTilte">
    <p>{{vm.pageTitle}} </p>


  </div>
  <div class="card-body">
    <h5 class="card-title">{{vm.product.modelName}}</h5>
    <p class="card-text">
      {{vm.product.description}}
    </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"> {{vm.product.modelNumber}}</li>
    <li class="list-group-item"> {{vm.product.unitCost}}</li>

  </ul>
  <table class="table">
    <thead>
      <th> record </th>
      <th> date </th>
      <th> quantity </th>
      <th> cart </th>
    </thead>
    <tbody>
      <tr *ngFor="let cart of vm.productSuppliers">
        <td> {{cart.recordId}}</td>
        <td> {{cart.dateCreated |  date:'fullDate'}}</td>
        <td> {{cart.quantity}}</td>
        <td> {{cart.cartId}}</td>
      </tr>
    </tbody>

  </table>
</div>

