<button class="btn btn-dark" tiggrer-m-product="addProduct">New Product</button>

<div class="card text-center m-3">

  <h3 class="card-header">Manage Produts</h3>
  <div class="row">
    <div class="col-md-3">
      <select class="form-control"
      (change)="onSelected($event.target.value)" >
        <option value="0">
          - Display All -
        </option>
        <option *ngFor="let category of categories$ | async"
                 [value]="category.categoryId" >
             {{category.categoryName}}
        </option>
      </select>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-hover table-dark">
      <thead>
        <th> Model </th>
        <th> Name</th>
        <th> Price</th>
        <th> Description</th>
        <th> image</th>
        <th> <img src="assets/images/gear_wheel.png"/>&nbsp;</th>
      </thead>
      <tbody>
        <tr *ngFor="let item of pageOfItems ">
          <td>{{item.modelNumber}}</td>
          <td>{{item.modelName}}</td>
          <td>{{item.unitCost}}</td>
          <td>{{item.description}}</td>
          <td><img [src]="item.productImage"/></td>
          <td>
         <span tiggrer-m-product="updateproduct">
          <img src="assets/images/edit.png" alt="edit" />
         </span>
            |<img src="assets/images/delete.png"
              (click)="trigerDelete(item.productId)"
             alt="delete"/>
            </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer pb-0 pt-3 pagination">
      <jw-pagination [items]="items"
      (emitPage)="getPage($event)"
      (changePage)="onChangePage($event)"></jw-pagination>
  </div>
</div>



<modal-m-product elementId="addProduct" title ="new product">
  <p>
    <add-product (emitProduct)="getProduct($event)"></add-product>
  </p>
</modal-m-product>

<modal-m-product   title ="updateproduct">
  <p>
    update product
  </p>
</modal-m-product>
<modal-m-product  elementId="deleteProduct"  title ="delete Product">
  <div class="row">
    <div class="col-md-6">
      <p>
        <span> Are you sure to delete ?</span>

       </p>
    </div>
    <div class="row">
      <button (click)="deleteProduct()" class="btn btn-success">ok</button>
      &nbsp;
      <button class="btn btn-danger">no</button>
      </div>

</div>
</modal-m-product>
