
  <a *ngIf="!currentUser" [routerLink]="['user/login']">Login</a>
   <a *ngIf="currentUser"
    class="nav-link dropdown-toggle"
    href="#" id="navbarDropdown"
    role="button" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false">
    Welcome {{currentUser.firstName}} </a>

  <div *ngIf="currentUser" class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-item"  [routerLink]="['user/profile']">profile</a>
    <a class="dropdown-item" *ngIf="currentUser.role==='admin'" [routerLink]="['user/manage']">Manage</a>

    <a class="dropdown-item"(click)="logOut()">Logout</a>
  </div>


