<div class="card-body">
  <div class="row">
    <div class="col-md-3">
      <select class="form-control"
      (change)="onSelected($event.target.value)" >
        <option value="0">
          - Display All -
        </option>
        <option *ngFor="let category of categories$ | async"
                 [value]="category.categoryId" >
             {{category.categoryName}}
        </option>
      </select>
    </div>
    <div class="col-md-7">
     &nbsp;
    </div>
    <div class="col-md-2">
      <button (click) = 'addProduct()'> Add </button>
    </div>
  </div>
  &nbsp;
  <table class="table table-hover table-dark">
    <thead>
      <th> Model </th>
      <th> Name</th>
      <th> Price</th>
      <th> Description</th>
      <th> category</th>
      <th> image</th>
      <th> <img src="assets/images/gear_wheel.png"/>&nbsp;</th>
    </thead>
    <tbody *ngIf=" products$ | async as itemProducts">
      <tr *ngFor="let item of itemProducts ">
        <td>{{item.modelNumber}}</td>
        <td>{{item.modelName}}</td>
        <td>{{item.unitCost}}</td>
        <td>{{item.description}}</td>
        <td>{{item.category}}</td>
        <td>{{item.productImage}}</td>

      </tr>
    </tbody>
  </table>
</div>
