<div class="row">
  <div class="col-md-3">
    <a (click)="addModeProduct()"> produits</a>
  </div>
  <div class="col-md-3">
    <a (click)="addModeSession()">ajouter session </a>
  </div>
</div>


<div *ngIf="addMode">
  <add-product (notifyCancelMode)="cancelMode($event)"></add-product>
</div>
<ul *ngIf="!addMode">
  <li *ngFor="let p of products">
    <collapsible-well [title]="p.modelName">
      <span>Numéro : {{p.modelNumber}}</span><br />
      <span>Prix: {{p.unitCost}}</span>
      <p>{{p.description}}</p>
    </collapsible-well>


  </li>
</ul>
