<div class="row">
  <div class="col-md-3">
    <a (click)="addModeProduct()"> produits</a>
  </div>
  <div class="col-md-6">
    <button class="btn btn-info" [class.active]="filterBy=='all'"
    (click)="filterProducts('all')">All</button>&nbsp;
    <button class="btn btn-info" [class.active]="filterBy=='test'"
     (click)="filterProducts('test')">test</button>

  </div>
  <div class="col-md-3">
    <a (click)="addModeSession()">ajouter session </a>
  </div>
</div>


<div *ngIf="addMode">
  <add-product (notifyCancelMode)="cancelMode($event)"></add-product>
</div>


<ul *ngIf="!addMode">
  <li *ngFor="let p of this.products ">
    <!-- collapsible element  -->
   <collapsible-well [title]="p.modelName" >
    <span (click)="diplayDetail(p.productId)" >Numéro :  {{p.modelNumber}} </span>
   <br />
      <span>Prix: {{p.unitCost}}</span>
      <p>{{p.description}}</p>
    </collapsible-well>
  </li>
</ul>

<modal-detail-product  title="detail-product"  >

 <detail-product [foundProduct] = "foundProduct"></detail-product>

</modal-detail-product>

